#include <windows.h>

icon ICON "assets/cactus.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEFLAGSMASK 0x3fL
FILEFLAGS 0x0L
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "Cactus Protocol"
            VALUE "FileDescription", "Cactus Desktop Client"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "cactus-desktop.exe"
            VALUE "LegalCopyright", "Copyright (c) 2024"
            VALUE "OriginalFilename", "cactus-desktop.exe"
            VALUE "ProductName", "Cactus Protocol"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END 